# Configuración básica
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Formateo de las líneas
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
#BreakBeforeCondition: false
AllowShortCaseLabelsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None

# Espaciado y alineación
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInCStyleCastParentheses: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false

# Líneas largas
ColumnLimit: 110
BreakBeforeBinaryOperators: NonAssignment
AlignConsecutiveAssignments: true
AlignOperands: true

# Estructuras y plantillas
NamespaceIndentation: All
IndentCaseLabels: true

# Otros ajustes
AllowShortFunctionsOnASingleLine: All
ReflowComments: true
CommentPragmas: "^PRAGMA_.*"
Standard: Latest